#transaction {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.transaction-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    box-sizing: border-box;
    

    //overflow: hidden;
    transition: height 0.3s ease;

    @media (max-width: 768px) {
        gap: 10px;
    }

    .transaction-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        width: 100%;
    }

    .show-btn {
        background: none;
        color: rgb(244, 38, 25);
        font-weight: 600;
    }
}