$theme-grey-color: rgb(217, 217, 217);

.input-box {
    border: solid 2px $theme-grey-color;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 50px auto 50px;
    justify-items: center;
    align-items: center;

    font-size: 1rem;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;


    svg {
        color: $theme-grey-color;
    }

    .error {
        color: rgb(244, 38, 25);
    }

    .black {
        color: #000;
    }

    input {
        font-family: inherit;
        border: none;
        outline: none;
        box-shadow: none;
        justify-self: stretch;
        font-size: 0.9em;
        box-sizing: border-box;

        // Remove default styling on focus
        &:focus {
            outline: none;
            box-shadow: none;
        }

        // Remove default styling on active
        &:active {
            outline: none;
            box-shadow: none;
        }

        // Remove default styling on hover
        &:hover {
            outline: none;
            box-shadow: none;
        }

        // Hide default arrows in input type number
        &[type=number] {
            -moz-appearance: textfield;
            /* Firefox */
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            /* Chrome, Safari, Edge, Opera */
            margin: 0;
            /* Remove margin to ensure consistency across browsers */
        }

        &:disabled {
            color: #383838;
        }
    }

    span {
        background: none;

        &:hover {
            cursor: pointer;
        }
    }



    @media (max-width: 768px) {
        padding: 5px;
        font-size: 0.9rem;
    }
}

.error-msg {
    text-align: end;
}