.logo-text {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
        width: 40px;
    }

    span {
        font-weight: 700;
        font-size: 1.5em;
    }

    

    @media (max-width: 1024px) {
        font-size: 0.9em;

        img {
            width: 36px;
        }
    }

    @media (max-width: 768px) {
        font-size: 0.8em;

        img {
            width: 32px;
        }
    }
}