nav {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;

    padding: 12px 10%;
    justify-content: space-between;
    border-bottom: #d3d3d3 solid 1px;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #fff;

    @media (max-width: 1024px) {
        font-size: 0.9em;
    }

    @media (max-width: 768px) {
        font-size: 0.8em;
    }
}

.nav-group {
    display: flex;
    align-items: center;
    gap: 50px;

    a {
        color: #000;

        &:hover {
            color: rgb(244, 38, 25);
            text-decoration: none;
        }
    }

    @media (max-width: 1024px) {
        gap: 35px;
    }

    @media (max-width: 768px) {
        gap: 20px;
    }
}