#promotions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.promotions-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}

.promotion-banner {
    margin-right: 20px;


    img {
        height: 121px;
        width: auto;
    }

    &:active {
        outline: none;
    }
}